@import "~styles/animations";
@import "~styles/blockquote";
@import "~styles/buttons";
@import "~styles/elements";
@import "~styles/fonts";
@import "~styles/grid";
@import "~styles/hover";
@import "~styles/icons";
@import "~styles/media-queries";
@import "~styles/wysiwyg";

.Wysiwyg {
  @include wysiwyg;

  // same css is used for backend wysiwyg,
  // spaces and max-width shouldn't be visible there
  &:not(.wp-editor) {
    @include grid-content;
  }

  &__button,
  &__button-secondary {
    margin: $grid-gutter-phone $grid-gutter-phone $grid-gutter-phone 0;

    @include media('>=md') {
      margin: $grid-gutter-tablet $grid-gutter-tablet $grid-gutter-tablet 0;
    }
    @include media('>=xl') {
      margin: $grid-gutter-desktop $grid-gutter-desktop $grid-gutter-desktop 0;
    }
  }

  &__button {
    @include button;
  }

  &__button-secondary {
    @include button-secondary;
  }

  h2 {
    margin-top: 40px;
    @include font-h2;
  }
  h3 {
    margin-top: 30px;
    @include font-h3;
  }
  h4 {
    margin-top: 20px;
    @include font-h4;
  }
  h5 {
    margin-top: 10px;
    @include font-h5;
  }

  table {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    text-align: center;
    table-layout: fixed;
    @include grid-content;

    @include media('>=lg') {
      display: table;
    }

    thead {
      white-space: nowrap;

      @include media('>=md') {
        white-space: normal;
      }
    }

    th,
    td {
      box-sizing: border-box;
      min-width: 220px;
      padding: 20px;
      border: 1px solid $color-bg;
    }

    th {
      @include element-base;
      @include font-micro($color-white);
    }
  }

  blockquote {
    @include blockquote-content;
  }

  .button {
    @include button;
  }

  .button--secondary {
    @include button-secondary;
  }
}
