@import '@styles/globals/_animations.scss';
@import '@styles/globals/_gradients.scss';
@import '@styles/globals/_grid.scss';
@import '@styles/globals/_hover.scss';
@import '@styles/globals/_icons.scss';
@import '@styles/globals/_media-queries.scss';
@import '@styles/globals/_shadows.scss';
@import '@styles/globals/_utils.scss';

.Video {
  @include grid-content;

  &__wrapper {
    @include hover-image;

    position: relative;
    height: 0;
    padding-bottom: 56.25%; // 4:3
    cursor: pointer;
  }

  &__item {
    @include util-cover;

    z-index: 0;
  }

  &__picture {
    @include util-cover;

    z-index: 1;
  }

  &__image {
    width: 100%;
  }

  &__overlay {
    @include util-cover;
    @include gradient-bg;

    z-index: 2;
    font-size: 0;
    transition-duration: $transition-duration-slower;

    &::before {
      @include icon-font(11);

      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: util-rem(50);
      height: util-rem(50);
      padding-left: 3px;
      content: $icon-play;
      background-color: $color-white;
      border-radius: 50%;
    }
  }

  &__caption {
    @include font-text-14;

    margin-top: $grid-gutter-phone;

    &-bold {
      font-weight: bold;
    }
  }

  @include media('>=sm') {
    &__overlay {
      &::before {
        width: util-rem(65);
        height: util-rem(65);
      }
    }
  }

  @include media('>=lg') {
    &__caption {
      margin-top: $grid-gutter-desktop;
    }

    &__overlay {
      &::before {
        width: util-rem(80);
        height: util-rem(80);
      }
    }
  }
}
