@import "~styles/animations";
@import "~styles/gradients";
@import "~styles/grid";
@import "~styles/hover";
@import "~styles/icons";
@import "~styles/media-queries";
@import "~styles/shadows";
@import "~styles/utils";

.Video {
  position: relative;
  cursor: pointer;

  @include media(">=md") {
    width: 1200px;
  }

  &__wrapper {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    &:hover .Video__title {
      opacity: 1;
    }
    &:hover .Video__hover {
      opacity: 0.3;
    }
  }

  &__item {
    @include util-cover;
  }

  &__picture {
    @include util-cover;
    @include hover-image;

    &--hidden {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__hover {
    transition: ease all 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: $color-bg;
    opacity: 0;
  }

  &__title {
    transition: ease all 0.5s;
    color: $color-white;
    position: absolute;
    z-index: 4;
    top: calc(50% + 45px);
    opacity: 0;
  }
  &__image {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &__buttonwrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .Video__title {
      opacity: 1;
    }
  }

  &__overlay {
    z-index: 3;
    // @include gradient-bg;
    transition-duration: 0.5s;
    pointer-events: none;
    height: 60px;
    width: 60px;
    padding-left: 4px;
    border-radius: 50%;
    background-color: $color-white;
    position: relative;

    &::after {
      content: "\e90c";
      @include icon-font;
      font-size: 12px;
      color: $color-bg;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $color-white;
      z-index: 4;
      left: -10px;
      top: -10px;
      bottom: -10px;
      right: -10px;
      animation: animate 1s linear infinite;
    }

    &--hidden {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.centering {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  background: $color-bg;
  width: 100%;
  padding-bottom: 120px;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
