# Application
web/app/languages
!web/app/languages/.gitkeep
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/db.php

# WordPress
web/wp
web/.htaccess

# Logs
*.log
log/

# Dot-Files & Configuration-Files
.*
!.editorconfig
!.env.*
!.eslintignore
!.commitlintrc.js
!.eslintrc
!.gitignore
!.markdownlintrc
!.nvmrc
!.php_cs
!.prettierignore
!.prettierrc
!.stylelintrc*
!lint-staged.config.js
!styleling.config.js

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Documentation
!docs/*

# Theme
!web/app/themes/towa-theme
web/app/themes/towa-theme/dist/
node_modules/