@import '@styles/globals/_animations.scss';
@import '@styles/globals/_buttons.scss';
@import '@styles/globals/_colors.scss';
@import '@styles/globals/_elements.scss';
@import '@styles/globals/_fonts.scss';
@import '@styles/globals/_grid.scss';
@import '@styles/globals/_media-queries.scss';

.Overview {
  &__wrapper {
    text-align: center;
  }

  &__button {
    @include button;
  }
}

.fade-enter-active {
  transition: all 0.15s ease;
}
.fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

// SPINNER START
.spinner {
  width: 32px;
  height: 40px;
  margin: ($grid-gutter-desktop * 5) auto;
  text-align: center;
}

.spinner-rect {
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: $color-brand;
  animation: spinner 0.8s infinite cubic-bezier(0, 0, 0.2, 1);

  &:nth-of-type(2) {
    animation-delay: -0.7s;
  }
  &:nth-of-type(3) {
    animation-delay: -0.6s;
  }
  &:nth-of-type(4) {
    animation-delay: -0.5s;
  }
}

@keyframes spinner {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
// SPINNER END
