@import '~styles/grid';

.Image {
  @include grid-content;

  &__item {
    display: block;
    max-width: grid-span(12);
    width: grid-span(12);

    @include media('>=md') {
      width: auto;
    }
  }
}
