@import "fonts";
@import "grid";
@import "icons";

@mixin blockquote-content {
  display: block;
  position: relative;

  p {
    position: relative;
    @include font-blockquote;

    @include media('>=md') {
      width: 80%;
    }

    &::before,
    &::after {
      @include icon-font;
      font-size: 18px;
      font-weight: 800;
    }

    &::before {
      content: $icon-angle-double-right;
    }

    &::after {
      content: $icon-angle-double-left;
    }
  }

  footer {
    @include font-text;

    @include media('>=md') {
      width: 80%;
    }
  }
}
