@import "animations";
@import "colors";
@import "fonts";
@import "elements";

@mixin button-base {
  display: block;
  text-align: center;
  @include element-base;
  @include font-micro;
  @include animation-fast-in-slow-out;

  @include media('>=xs') {
    display: inline-block;
  }
}

@mixin button-primary-colors {
  color: $color-white;
  background-color: $color-brand;
}
@mixin button-secondary-colors {
  color: $color-brand;
  background-color: $color-white;
}

@mixin button {
  @include button-base;
  @include button-primary-colors;

  &:hover {
    @include button-secondary-colors;
  }
}

@mixin button-secondary {
  @include button-base;
  @include button-secondary-colors;

  &:hover {
    @include button-primary-colors;
  }
}
