@import "~styles/hover";

@mixin wysiwyg {
  p,
  ol,
  ul,
  table,
  blockquote {
    @include font-text;
  }

  p {
    margin-top: 10px;
  }

  a:not(.Wysiwyg__button):not(.Wysiwyg__button-secondary) {
    color: $color-link;
    text-decoration: underline;

    &:hover {
      @include hover-link;
    }
  }

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: 600;
  }

  ol {
    counter-reset: item;
    li {
      position: relative;
      margin-left: 25px;
      counter-increment: item;

      &::before {
        position: absolute;
        top: 0;
        left: -25px;
        content: counter(item) ". ";
      }
    }
  }

  ul {
    margin-left: 17px;
    list-style-type: disc;
  }
}
