<!--[if lt IE 9]>
<div class="browser-message">
  <p class="browser-message__text">{{ __( 'Sie verwenden einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie Ihren Browser</a> damit die Seite verwendet werden kann.', 'towa' ) }}</p>
</div>
<![endif]-->

<noscript>
  <div class="browser-message">
    <p class="browser-message__text">{{ __( 'Sie verwenden einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie Ihren Browser</a> damit die Seite verwendet werden kann.', 'towa' ) }}</p>
  </div>
</noscript>
