@import '@styles/globals/_animations.scss';
@import '@styles/globals/_colors.scss';
@import '@styles/globals/_elements.scss';
@import '@styles/globals/_fonts.scss';
@import '@styles/globals/_grid.scss';
@import '@styles/globals/_hover.scss';
@import '@styles/globals/_icons.scss';
@import '@styles/globals/_media-queries.scss';

.Downloads {
  @include grid-content;

  &__item {
    @include element-base;
    @include element-clickable;

    display: flex;
    align-items: center;
    margin-top: $grid-gutter-phone;
    text-decoration: none;
    background-color: $color-brand;

    @include media('>=sm') {
      margin-top: $grid-gutter-tablet;
    }

    @include media('>=lg') {
      margin-top: $grid-gutter-desktop;
    }
  }

  &__name {
    @include font-micro($color-white);
  }

  &__details {
    display: none;

    @include media('>=sm') {
      display: inline-block;
      margin-right: $grid-gutter-tablet;
      margin-left: auto;
      font-size: 0;
    }

    @include media('>=lg') {
      margin-right: $grid-gutter-desktop;
    }
  }

  &__detail {
    @include font-text($color-white);

    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    border-right: 1px solid $color-white;

    &:last-of-type {
      border-right: 0;
    }
  }

  &__icon {
    @include font-micro($color-white);

    display: inline-flex;
    align-items: center;
    margin-left: auto;

    @include media('>=sm') {
      margin-left: 0;
    }

    &::after {
      @include icon-font;

      margin-left: 5px;
      line-height: 0.8;
      content: $icon-angle-down;
    }
  }

  &__text {
    display: none;

    @include media('>=xs') {
      display: inline;
    }
  }
}
