<section class="Navbar" data-component="Navbar">
<div class="Navbar__wrapper">
<a href={{option.home.url}}>
<img class="Navbar__menu" src={{option.logo.url}}></img>
</a>
<div class="Navbar__links">
  {# <a class="Navbar__about" href={{option.about.url}}>About</a> #}
  {# <a class="Navbar__portfolio" href={{option.portfolio.url}} target="_blank">Portfolio</a> #}
</div>
<div class="Navbar__share">Follow me</div>
<div class="Navbar__icons">
<a class="Navbar__sharelink Navbar__sharelink_pinterest" href="https://www.instagram.com/jaxdesigns/" target="_blank"></a>
{# <a class="Navbar__sharelink Navbar__sharelink_facebook" href="https://www.youtube.com" target="_blank"></a> #}
<a class="Navbar__sharelink Navbar__sharelink_twitter" href="https://www.pinterest.de/jackiejaxdesigns/" target="_blank"></a>
  </div></div>
</section>
