<div class="PostImages__fullscreen">

<img class="PostImages__fullscreen-image-1" src={{section.imageLeft.sizes.i1440x810}}></img>
<img class="PostImages__fullscreen-image-2" src={{section.imageRight.sizes.i1440x810}}></img> 
<div class="PostImages__fullscreen-wrapper"></div>
</div>
<section class="PostImages"  data-component="PostImages">
<div class="PostImages__wrapper">
<div class="PostImages__wrapper-1">
<img class="PostImages__image PostImages__image-1" src={{section.imageLeft.sizes.i920x920}}></img>
<div class="PostImages__overlay PostImages__overlay-1">View Fullscreen</div></div>
<div class="PostImages__wrapper-2">
<img class="PostImages__image PostImages__image-2" src={{section.imageRight.sizes.i920x920}}></img>
<div class="PostImages__overlay PostImages__overlay-2">View Fullscreen</div>
</div>
</section>
