@import "~styles/elements";
@import '~styles/fonts';
@import '~styles/grid';
@import '~styles/colors';
@import '~styles/media-queries';

.Tab {
  display: none;

  @include media('>=sm') {
    display: block;
    @include grid-content;
  }

  &__items {
    display: flex;
  }

  &__item {
    flex: 1;
    @include element-base;
    @include element-clickable;
    @include font-micro;
    border-color: $color-border;
    background-color: $color-white;
    min-width: 0;
    border-right: 0;

    &:last-of-type {
      border-right: 1px solid $color-border;
    }

    &--active {
      background-color: $color-brand;
      color: $color-white;
    }
  }

  &__wrapper {
    margin-top: $grid-gutter-desktop*2;
  }

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }
}
