<section class="PostInstructions">
<div class="PostInstructions__wrapper">
<div class="PostInstructions__headline">02. How To</div>
<div class="PostInstructions__abstract">{{section.abstract}}</div>
</div>
</section>
