.MobileNav__toggle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;

  @include media('>=lg') {
    display: none;
  }

  span {
    height: 2px;
    background-color: $color-brand;
  }

  &--cross {
    position: relative;
    display: block;
    height: 30px;
    transform: rotate(45deg);

    @include media('>=lg') {
      @include hidden;
    }
    span {
      position: absolute;

      &:first-child {
        top: 10%;
        left: 14px;
        width: 2px;
        height: 80%;
      }

      &:last-child {
        top: 14px;
        left: 10%;
        width: 80%;
        height: 2px;
      }
    }
  }
}
