@import './MobileNav.scss';

/* stylelint-disable */
navigation {
  display: block;
  height: 75px;
}
/* stylelint-enable */

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 0 1em;
  background-color: $color-white;

  &.navopen {
    @include media('<lg') {
      .Nav__wrapper {
        @include visible;

        flex-direction: column;
        background: $color-overlay;
      }

      .Nav__logo {
        z-index: 2;
      }

      .Nav__list {
        flex: 2;

        @include hide-scrollbar;

        margin-top: 2em;
      }
      .Nav__link {
        color: white;
      }
      .Nav__subnav--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-left: 1em;
        background: $color-element-hover;

        .icon {
          @include icon-font;

          font-size: 16px;
          color: $color-white;

          &::before {
            content: $icon-chevron-right;
          }
        }
      }
    }
  }
  &.subnavopen {
    @include media('<lg') {
      .Nav__list {
        overflow-y: hidden;
      }
      .Nav__subnav {
        @include hide-scrollbar;

        margin-top: 2em;
      }
    }
  }
  &__breadcrumbs {
    z-index: 2;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;

    @include media('>lg') {
      display: none;
    }

    span {
      flex: 1;
      align-self: center;
      padding-left: 1.5em;
      font-size: 1.2em;
      font-weight: bold;
      color: $color-black;
    }

    .MobileNav__container {
      flex: 0;
    }
  }
  &__button--back {
    display: flex;
    flex: 0 0 70px;
    align-items: center;
    justify-content: center;

    &::after {
      @include icon-font;

      color: $color-black;
      content: $icon-chevron-left;
    }
  }

  &__wrapper {
    @include util-cover;

    top: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 75px);
    color: $color-white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include hidden;

    @include media('>=lg') {
      position: static;
      flex: 7;
      flex-direction: row;
      justify-content: flex-start;
      width: auto;
      height: auto;
      padding: 0;

      @include visible;
    }
  }

  &__list {
    display: block;
    width: 100%;
    max-height: 80%;

    @include media('>=sm') {
      width: 50%;
    }

    @include media('>=lg') {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 100%;
      max-height: auto;
      padding: 0;
      margin-top: 0;
    }
  }
  .current-menu-item {
    background: $color-element-hover;

    .Nav__link {
      color: $color-white;
      text-decoration: underline;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    padding-left: 1.5em;

    &:nth-child(odd) {
      background-color: $color-element-hover;
    }

    @include media('>=lg') {
      position: relative;
      flex-direction: column;
      align-self: stretch;
      justify-content: center;
      height: auto;
      padding-right: 2em;
      padding-left: 2em;

      &:nth-child(odd) {
        background-color: transparent;
      }

      &.current-menu-item {
        background: $color-element-hover;

        .Nav__link {
          color: $color-white;
          text-decoration: underline;
        }
      }

      &:hover {
        background: $color-element-hover;

        .Nav__link {
          color: $color-white;
        }

        .Nav__subnav-container {
          display: block;
          padding-top: 1em;
          pointer-events: all;

          @include visible;
        }
      }
    }

    &:last-of-type,
    &:nth-last-child(2) {
      .Nav__subnav-container {
        right: 0;
        left: auto;

        @include media('>=max-width') {
          right: auto;
          left: 0;
        }
      }
    }

    &.Nav__subnav--open {
      z-index: 2;
    }
  }

  &__link {
    display: flex;
    flex: 1;
    align-items: center;
    color: $color-brand;
  }

  &__subnav {
    flex: 1;
    max-height: 80%;
    text-align: center;

    @include media('>=md') {
      height: auto;
      text-align: left;
      &:hover .Nav__subitem,
      &:hover .Nav__subitem-headline {
        opacity: 0.5;
      }

      .Nav__subitem:hover {
        opacity: 1;
      }
    }
  }
  .Nav__subnav--open {
    @include util-cover;

    z-index: 2;
    display: flex;
    height: calc(100vh - 75px);

    @include media('>=md') {
      padding-right: 1.6em;
      padding-left: 1.6em;
    }
  }

  &__subnav-container &__subnav {
    display: flex;
    flex-direction: column;

    @include media('>=lg') {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__subitem {
    min-height: 40px;
    color: $color-white;

    @include animation-slow(opacity);

    @include media('>=lg') {
      width: 50%;
      padding-left: 2.5em;
    }

    &-name {
      position: relative;
    }

    &-headline {
      @include font-micro(inherit);

      text-transform: uppercase;
    }
  }
  &__sublink {
    display: block;
  }

  &__subnav-container {
    display: none;
    padding-bottom: 1em;
    background: $color-brand;

    @include media('>=lg') {
      position: absolute;
      top: 100%;
      left: 0;
      width: 700px;
      height: auto;
    }
  }

  &__subnav--complex {
    margin-bottom: 1em;

    @include media('>=md') {
      margin-top: 0.5em;
    }
    .Nav__subitem {
      width: auto;
      padding-left: 0;
      margin-top: auto;
    }
  }
}

.Nav__logo {
  display: flex;
  width: 200px;
  max-height: 75px;

  img {
    width: 100%;
  }
}
