@mixin element-base() {
  box-sizing: border-box;
  min-width: 220px;
  padding: 20px 30px;
  background-color: $color-brand;
  border: 1px solid $color-brand;
}

@mixin element-clickable {
  @include animation-slow;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $color-element-hover;
    border-color: $color-element-hover;
  }
}
