// fonts
$font-family-sans-serif: Arial, sans-serif !default;
$font-family-serif: 'Times New Roman', sans-serif !default;

// semantic fonts
$font-family-headline: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

@mixin font-h1($color: $color-headline) {
  font-family: $font-family-headline;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=md') {
    font-size: 42px;
  }

  @include media('>=xl') {
    font-size: 48px;
  }
}

@mixin font-h2($color: $color-headline) {
  font-family: $font-family-headline;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=md') {
    font-size: 34px;
  }

  @include media('>=xl') {
    font-size: 36px;
  }
}

@mixin font-h3($color: $color-headline) {
  font-family: $font-family-headline;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=md') {
    font-size: 22px;
  }

  @include media('>=xl') {
    font-size: 24px;
  }
}

@mixin font-h4($color: $color-headline) {
  font-family: $font-family-headline;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=xl') {
    font-size: 20px;
  }
}

@mixin font-h5($color: $color-headline) {
  font-family: $font-family-headline;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=xl') {
    font-size: 18px;
  }
}

@mixin font-text($color: $color-text) {
  font-family: $font-family-base;
  font-size: 15px;
  line-height: 2;
  color: $color;

  @include media('>=sm') {
    font-size: 16px;
  }
}

@mixin font-text-14($color: $color-text) {
  font-family: $font-family-base;
  font-size: util-rem(14);
  line-height: util-em(24, 14);
  color: $color;
}

@mixin font-micro($color: $color-brand) {
  font-family: $font-family-base;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 2px;

  @include media('>=sm') {
    font-size: 12px;
  }
}

@mixin font-blockquote($color: $color-brand) {
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: $color;

  @include media('>=md') {
    font-size: 20px;
  }

  @include media('>=xl') {
    font-size: 22px;
  }
}
