@mixin icon-font($font-size: 16) {
  font-family: 'iconfont', Arial, sans-serif !important;
  font-size: util-rem($font-size);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icomoon-font-path: 'fonts' !default;
$icon-px: '\e901';
$icon-address-book-o: '\e902';
$icon-address-book: '\e903';
$icon-address-card-o: '\e904';
$icon-address-card: '\e905';
$icon-adjust: '\e906';
$icon-adn: '\e907';
$icon-align-center: '\e908';
$icon-align-justify: '\e909';
$icon-align-left: '\e90a';
$icon-align-right: '\e90b';
$icon-amazon: '\e90c';
$icon-ambulance: '\e90d';
$icon-american-sign-language-interpreting: '\e90e';
$icon-anchor: '\e90f';
$icon-android: '\e910';
$icon-angellist: '\e911';
$icon-angle-double-down: '\e912';
$icon-angle-double-left: '\e913';
$icon-angle-double-right: '\e914';
$icon-angle-double-up: '\e915';
$icon-angle-down: '\e916';
$icon-angle-left: '\e917';
$icon-angle-right: '\e918';
$icon-angle-up: '\e919';
$icon-apple: '\e91a';
$icon-archive: '\e91b';
$icon-area-chart: '\e91c';
$icon-arrow-circle-down: '\e91d';
$icon-arrow-circle-left: '\e91e';
$icon-arrow-circle-o-down: '\e91f';
$icon-arrow-circle-o-left: '\e920';
$icon-arrow-circle-o-right: '\e921';
$icon-arrow-circle-o-up: '\e922';
$icon-arrow-circle-right: '\e923';
$icon-arrow-circle-up: '\e924';
$icon-arrow-down: '\e925';
$icon-arrow-left: '\e926';
$icon-arrow-right: '\e927';
$icon-arrow-up: '\e928';
$icon-arrows-alt: '\e929';
$icon-arrows-h: '\e92a';
$icon-arrows-v: '\e92b';
$icon-arrows: '\e92c';
$icon-asl-interpreting: '\e92d';
$icon-assistive-listening-systems: '\e92e';
$icon-asterisk: '\e92f';
$icon-at: '\e930';
$icon-audio-description: '\e931';
$icon-automobile: '\e932';
$icon-backward: '\e933';
$icon-balance-scale: '\e934';
$icon-ban: '\e935';
$icon-bandcamp: '\e936';
$icon-bank: '\e937';
$icon-bar-chart-o: '\e938';
$icon-bar-chart: '\e939';
$icon-barcode: '\e93a';
$icon-bars: '\e93b';
$icon-bath: '\e93c';
$icon-bathtub: '\e93d';
$icon-battery-0: '\e93e';
$icon-battery-1: '\e93f';
$icon-battery-2: '\e940';
$icon-battery-3: '\e941';
$icon-battery-4: '\e942';
$icon-battery-empty: '\e943';
$icon-battery-full: '\e944';
$icon-battery-half: '\e945';
$icon-battery-quarter: '\e946';
$icon-battery-three-quarters: '\e947';
$icon-battery: '\e948';
$icon-bed: '\e949';
$icon-beer: '\e94a';
$icon-behance-square: '\e94b';
$icon-behance: '\e94c';
$icon-bell-o: '\e94d';
$icon-bell-slash-o: '\e94e';
$icon-bell-slash: '\e94f';
$icon-bell: '\e950';
$icon-bicycle: '\e951';
$icon-binoculars: '\e952';
$icon-birthday-cake: '\e953';
$icon-bitbucket-square: '\e954';
$icon-bitbucket: '\e955';
$icon-bitcoin: '\e956';
$icon-black-tie: '\e957';
$icon-blind: '\e958';
$icon-bluetooth-b: '\e959';
$icon-bluetooth: '\e95a';
$icon-bold: '\e95b';
$icon-bolt: '\e95c';
$icon-bomb: '\e95d';
$icon-book: '\e95e';
$icon-bookmark-o: '\e95f';
$icon-bookmark: '\e960';
$icon-braille: '\e961';
$icon-briefcase: '\e962';
$icon-btc: '\e963';
$icon-bug: '\e964';
$icon-building-o: '\e965';
$icon-building: '\e966';
$icon-bullhorn: '\e967';
$icon-bullseye: '\e968';
$icon-bus: '\e969';
$icon-buysellads: '\e96a';
$icon-cab: '\e96b';
$icon-calculator: '\e96c';
$icon-calendar-check-o: '\e96d';
$icon-calendar-minus-o: '\e96e';
$icon-calendar-o: '\e96f';
$icon-calendar-plus-o: '\e970';
$icon-calendar-times-o: '\e971';
$icon-calendar: '\e972';
$icon-camera-retro: '\e973';
$icon-camera: '\e974';
$icon-car: '\e975';
$icon-caret-down: '\e976';
$icon-caret-left: '\e977';
$icon-caret-right: '\e978';
$icon-caret-square-o-down: '\e979';
$icon-caret-square-o-left: '\e97a';
$icon-caret-square-o-right: '\e97b';
$icon-caret-square-o-up: '\e97c';
$icon-caret-up: '\e97d';
$icon-cart-arrow-down: '\e97e';
$icon-cart-plus: '\e97f';
$icon-cc-amex: '\e980';
$icon-cc-diners-club: '\e981';
$icon-cc-discover: '\e982';
$icon-cc-jcb: '\e983';
$icon-cc-mastercard: '\e984';
$icon-cc-paypal: '\e985';
$icon-cc-stripe: '\e986';
$icon-cc-visa: '\e987';
$icon-cc: '\e988';
$icon-certificate: '\e989';
$icon-chain-broken: '\e98a';
$icon-chain: '\e98b';
$icon-check-circle-o: '\e98c';
$icon-check-circle: '\e98d';
$icon-check-square-o: '\e98e';
$icon-check-square: '\e98f';
$icon-check: '\e990';
$icon-chevron-circle-down: '\e991';
$icon-chevron-circle-left: '\e992';
$icon-chevron-circle-right: '\e993';
$icon-chevron-circle-up: '\e994';
$icon-chevron-down: '\e995';
$icon-chevron-left: '\e996';
$icon-chevron-right: '\e997';
$icon-chevron-up: '\e998';
$icon-child: '\e999';
$icon-chrome: '\e99a';
$icon-circle-o-notch: '\e99b';
$icon-circle-o: '\e99c';
$icon-circle-thin: '\e99d';
$icon-circle: '\e99e';
$icon-clipboard: '\e99f';
$icon-clock-o: '\e9a0';
$icon-clone: '\e9a1';
$icon-close: '\e9a2';
$icon-cloud-download: '\e9a3';
$icon-cloud-upload: '\e9a4';
$icon-cloud: '\e9a5';
$icon-cny: '\e9a6';
$icon-code-fork: '\e9a7';
$icon-code: '\e9a8';
$icon-codepen: '\e9a9';
$icon-codiepie: '\e9aa';
$icon-coffee: '\e9ab';
$icon-cog: '\e9ac';
$icon-cogs: '\e9ad';
$icon-columns: '\e9ae';
$icon-comment-o: '\e9af';
$icon-comment: '\e9b0';
$icon-commenting-o: '\e9b1';
$icon-commenting: '\e9b2';
$icon-comments-o: '\e9b3';
$icon-comments: '\e9b4';
$icon-compass: '\e9b5';
$icon-compress: '\e9b6';
$icon-connectdevelop: '\e9b7';
$icon-contao: '\e9b8';
$icon-copy: '\e9b9';
$icon-copyright: '\e9ba';
$icon-creative-commons: '\e9bb';
$icon-credit-card-alt: '\e9bc';
$icon-credit-card: '\e9bd';
$icon-crop: '\e9be';
$icon-crosshairs: '\e9bf';
$icon-css3: '\e9c0';
$icon-cube: '\e9c1';
$icon-cubes: '\e9c2';
$icon-cut: '\e9c3';
$icon-cutlery: '\e9c4';
$icon-dashboard: '\e9c5';
$icon-dashcube: '\e9c6';
$icon-database: '\e9c7';
$icon-deaf: '\e9c8';
$icon-deafness: '\e9c9';
$icon-dedent: '\e9ca';
$icon-delicious: '\e9cb';
$icon-desktop: '\e9cc';
$icon-deviantart: '\e9cd';
$icon-diamond: '\e9ce';
$icon-digg: '\e9cf';
$icon-dollar: '\e9d0';
$icon-dot-circle-o: '\e9d1';
$icon-download: '\e9d2';
$icon-dribbble: '\e9d3';
$icon-drivers-license-o: '\e9d4';
$icon-drivers-license: '\e9d5';
$icon-dropbox: '\e9d6';
$icon-drupal: '\e9d7';
$icon-edge: '\e9d8';
$icon-edit: '\e9d9';
$icon-eercast: '\e9da';
$icon-eject: '\e9db';
$icon-ellipsis-h: '\e9dc';
$icon-ellipsis-v: '\e9dd';
$icon-empire: '\e9de';
$icon-envelope-o: '\e9df';
$icon-envelope-open-o: '\e9e0';
$icon-envelope-open: '\e9e1';
$icon-envelope-square: '\e9e2';
$icon-envelope: '\e9e3';
$icon-envira: '\e9e4';
$icon-eraser: '\e9e5';
$icon-etsy: '\e9e6';
$icon-eur: '\e9e7';
$icon-euro: '\e9e8';
$icon-exchange: '\e9e9';
$icon-exclamation-circle: '\e9ea';
$icon-exclamation-triangle: '\e9eb';
$icon-exclamation: '\e9ec';
$icon-expand: '\e9ed';
$icon-expeditedssl: '\e9ee';
$icon-external-link-square: '\e9ef';
$icon-external-link: '\e9f0';
$icon-eye-slash: '\e9f1';
$icon-eye: '\e9f2';
$icon-eyedropper: '\e9f3';
$icon-fa: '\e9f4';
$icon-facebook-f: '\e9f5';
$icon-facebook-official: '\e9f6';
$icon-facebook-square: '\e9f7';
$icon-facebook: '\e9f8';
$icon-fast-backward: '\e9f9';
$icon-fast-forward: '\e9fa';
$icon-fax: '\e9fb';
$icon-feed: '\e9fc';
$icon-female: '\e9fd';
$icon-fighter-jet: '\e9fe';
$icon-file-archive-o: '\e9ff';
$icon-file-audio-o: '\ea00';
$icon-file-code-o: '\ea01';
$icon-file-excel-o: '\ea02';
$icon-file-image-o: '\ea03';
$icon-file-movie-o: '\ea04';
$icon-file-o: '\ea05';
$icon-file-pdf-o: '\ea06';
$icon-file-photo-o: '\ea07';
$icon-file-picture-o: '\ea08';
$icon-file-powerpoint-o: '\ea09';
$icon-file-sound-o: '\ea0a';
$icon-file-text-o: '\ea0b';
$icon-file-text: '\ea0c';
$icon-file-video-o: '\ea0d';
$icon-file-word-o: '\ea0e';
$icon-file-zip-o: '\ea0f';
$icon-file: '\ea10';
$icon-files-o: '\ea11';
$icon-film: '\ea12';
$icon-filter: '\ea13';
$icon-fire-extinguisher: '\ea14';
$icon-fire: '\ea15';
$icon-firefox: '\ea16';
$icon-first-order: '\ea17';
$icon-flag-checkered: '\ea18';
$icon-flag-o: '\ea19';
$icon-flag: '\ea1a';
$icon-flash: '\ea1b';
$icon-flask: '\ea1c';
$icon-flickr: '\ea1d';
$icon-floppy-o: '\ea1e';
$icon-folder-o: '\ea1f';
$icon-folder-open-o: '\ea20';
$icon-folder-open: '\ea21';
$icon-folder: '\ea22';
$icon-font-awesome: '\ea23';
$icon-font: '\ea24';
$icon-fonticons: '\ea25';
$icon-fort-awesome: '\ea26';
$icon-forumbee: '\ea27';
$icon-forward: '\ea28';
$icon-foursquare: '\ea29';
$icon-free-code-camp: '\ea2a';
$icon-frown-o: '\ea2b';
$icon-futbol-o: '\ea2c';
$icon-gamepad: '\ea2d';
$icon-gavel: '\ea2e';
$icon-gbp: '\ea2f';
$icon-ge: '\ea30';
$icon-gear: '\ea31';
$icon-gears: '\ea32';
$icon-genderless: '\ea33';
$icon-get-pocket: '\ea34';
$icon-gg-circle: '\ea35';
$icon-gg: '\ea36';
$icon-gift: '\ea37';
$icon-git-square: '\ea38';
$icon-git: '\ea39';
$icon-github-alt: '\ea3a';
$icon-github-square: '\ea3b';
$icon-github: '\ea3c';
$icon-gitlab: '\ea3d';
$icon-gittip: '\ea3e';
$icon-glass: '\ea3f';
$icon-glide-g: '\ea40';
$icon-glide: '\ea41';
$icon-globe: '\ea42';
$icon-google-plus-circle: '\ea43';
$icon-google-plus-official: '\ea44';
$icon-google-plus-square: '\ea45';
$icon-google-plus: '\ea46';
$icon-google-wallet: '\ea47';
$icon-google: '\ea48';
$icon-graduation-cap: '\ea49';
$icon-gratipay: '\ea4a';
$icon-grav: '\ea4b';
$icon-group: '\ea4c';
$icon-h-square: '\ea4d';
$icon-hacker-news: '\ea4e';
$icon-hand-grab-o: '\ea4f';
$icon-hand-lizard-o: '\ea50';
$icon-hand-o-down: '\ea51';
$icon-hand-o-left: '\ea52';
$icon-hand-o-right: '\ea53';
$icon-hand-o-up: '\ea54';
$icon-hand-paper-o: '\ea55';
$icon-hand-peace-o: '\ea56';
$icon-hand-pointer-o: '\ea57';
$icon-hand-rock-o: '\ea58';
$icon-hand-scissors-o: '\ea59';
$icon-hand-spock-o: '\ea5a';
$icon-hand-stop-o: '\ea5b';
$icon-handshake-o: '\ea5c';
$icon-hard-of-hearing: '\ea5d';
$icon-hashtag: '\ea5e';
$icon-hdd-o: '\ea5f';
$icon-header: '\ea60';
$icon-headphones: '\ea61';
$icon-heart-o: '\ea62';
$icon-heart: '\ea63';
$icon-heartbeat: '\ea64';
$icon-history: '\ea65';
$icon-home: '\ea66';
$icon-hospital-o: '\ea67';
$icon-hotel: '\ea68';
$icon-hourglass-1: '\ea69';
$icon-hourglass-2: '\ea6a';
$icon-hourglass-3: '\ea6b';
$icon-hourglass-end: '\ea6c';
$icon-hourglass-half: '\ea6d';
$icon-hourglass-o: '\ea6e';
$icon-hourglass-start: '\ea6f';
$icon-hourglass: '\ea70';
$icon-houzz: '\ea71';
$icon-html5: '\ea72';
$icon-i-cursor: '\ea73';
$icon-id-badge: '\ea74';
$icon-id-card-o: '\ea75';
$icon-id-card: '\ea76';
$icon-ils: '\ea77';
$icon-image: '\ea78';
$icon-imdb: '\ea79';
$icon-inbox: '\ea7a';
$icon-indent: '\ea7b';
$icon-industry: '\ea7c';
$icon-info-circle: '\ea7d';
$icon-info: '\ea7e';
$icon-inr: '\ea7f';
$icon-instagram: '\ea80';
$icon-institution: '\ea81';
$icon-internet-explorer: '\ea82';
$icon-intersex: '\ea83';
$icon-ioxhost: '\ea84';
$icon-italic: '\ea85';
$icon-joomla: '\ea86';
$icon-jpy: '\ea87';
$icon-jsfiddle: '\ea88';
$icon-key: '\ea89';
$icon-keyboard-o: '\ea8a';
$icon-krw: '\ea8b';
$icon-language: '\ea8c';
$icon-laptop: '\ea8d';
$icon-lastfm-square: '\ea8e';
$icon-lastfm: '\ea8f';
$icon-leaf: '\ea90';
$icon-leanpub: '\ea91';
$icon-legal: '\ea92';
$icon-lemon-o: '\ea93';
$icon-level-down: '\ea94';
$icon-level-up: '\ea95';
$icon-life-bouy: '\ea96';
$icon-life-buoy: '\ea97';
$icon-life-ring: '\ea98';
$icon-life-saver: '\ea99';
$icon-lightbulb-o: '\ea9a';
$icon-line-chart: '\ea9b';
$icon-link: '\ea9c';
$icon-linkedin-square: '\ea9d';
$icon-linkedin: '\ea9e';
$icon-linode: '\ea9f';
$icon-linux: '\eaa0';
$icon-list-alt: '\eaa1';
$icon-list-ol: '\eaa2';
$icon-list-ul: '\eaa3';
$icon-list: '\eaa4';
$icon-location-arrow: '\eaa5';
$icon-lock: '\eaa6';
$icon-long-arrow-down: '\eaa7';
$icon-long-arrow-left: '\eaa8';
$icon-long-arrow-right: '\eaa9';
$icon-long-arrow-up: '\eaaa';
$icon-low-vision: '\eaab';
$icon-magic: '\eaac';
$icon-magnet: '\eaad';
$icon-mail-forward: '\eaae';
$icon-mail-reply-all: '\eaaf';
$icon-mail-reply: '\eab0';
$icon-male: '\eab1';
$icon-map-marker: '\eab2';
$icon-map-o: '\eab3';
$icon-map-pin: '\eab4';
$icon-map-signs: '\eab5';
$icon-map: '\eab6';
$icon-mars-double: '\eab7';
$icon-mars-stroke-h: '\eab8';
$icon-mars-stroke-v: '\eab9';
$icon-mars-stroke: '\eaba';
$icon-mars: '\eabb';
$icon-maxcdn: '\eabc';
$icon-meanpath: '\eabd';
$icon-medium: '\eabe';
$icon-medkit: '\eabf';
$icon-meetup: '\eac0';
$icon-meh-o: '\eac1';
$icon-mercury: '\eac2';
$icon-microchip: '\eac3';
$icon-microphone-slash: '\eac4';
$icon-microphone: '\eac5';
$icon-minus-circle: '\eac6';
$icon-minus-square-o: '\eac7';
$icon-minus-square: '\eac8';
$icon-minus: '\eac9';
$icon-mixcloud: '\eaca';
$icon-mobile-phone: '\eacb';
$icon-mobile: '\eacc';
$icon-modx: '\eacd';
$icon-money: '\eace';
$icon-moon-o: '\eacf';
$icon-mortar-board: '\ead0';
$icon-motorcycle: '\ead1';
$icon-mouse-pointer: '\ead2';
$icon-music: '\ead3';
$icon-navicon: '\ead4';
$icon-neuter: '\ead5';
$icon-newspaper-o: '\ead6';
$icon-object-group: '\ead7';
$icon-object-ungroup: '\ead8';
$icon-odnoklassniki-square: '\ead9';
$icon-odnoklassniki: '\eada';
$icon-opencart: '\eadb';
$icon-openid: '\eadc';
$icon-opera: '\eadd';
$icon-optin-monster: '\eade';
$icon-outdent: '\eadf';
$icon-pagelines: '\eae0';
$icon-paint-brush: '\eae1';
$icon-paper-plane-o: '\eae2';
$icon-paper-plane: '\eae3';
$icon-paperclip: '\eae4';
$icon-paragraph: '\eae5';
$icon-paste: '\eae6';
$icon-pause-circle-o: '\eae7';
$icon-pause-circle: '\eae8';
$icon-pause: '\eae9';
$icon-paw: '\eaea';
$icon-paypal: '\eaeb';
$icon-pencil-square-o: '\eaec';
$icon-pencil-square: '\eaed';
$icon-pencil: '\eaee';
$icon-percent: '\eaef';
$icon-phone-square: '\eaf0';
$icon-phone: '\eaf1';
$icon-photo: '\eaf2';
$icon-picture-o: '\eaf3';
$icon-pie-chart: '\eaf4';
$icon-pied-piper-alt: '\eaf5';
$icon-pied-piper-pp: '\eaf6';
$icon-pied-piper: '\eaf7';
$icon-pinterest-p: '\eaf8';
$icon-pinterest-square: '\eaf9';
$icon-pinterest: '\eafa';
$icon-plane: '\eafb';
$icon-play-circle-o: '\eafc';
$icon-play-circle: '\eafd';
$icon-play: '\eafe';
$icon-plug: '\eaff';
$icon-plus-circle: '\eb00';
$icon-plus-square-o: '\eb01';
$icon-plus-square: '\eb02';
$icon-plus: '\eb03';
$icon-podcast: '\eb04';
$icon-power-off: '\eb05';
$icon-print: '\eb06';
$icon-product-hunt: '\eb07';
$icon-puzzle-piece: '\eb08';
$icon-qq: '\eb09';
$icon-qrcode: '\eb0a';
$icon-question-circle-o: '\eb0b';
$icon-question-circle: '\eb0c';
$icon-question: '\eb0d';
$icon-quora: '\eb0e';
$icon-quote-left: '\eb0f';
$icon-quote-right: '\eb10';
$icon-ra: '\eb11';
$icon-random: '\eb12';
$icon-ravelry: '\eb13';
$icon-rebel: '\eb14';
$icon-recycle: '\eb15';
$icon-reddit-alien: '\eb16';
$icon-reddit-square: '\eb17';
$icon-reddit: '\eb18';
$icon-refresh: '\eb19';
$icon-registered: '\eb1a';
$icon-remove: '\eb1b';
$icon-renren: '\eb1c';
$icon-reorder: '\eb1d';
$icon-repeat: '\eb1e';
$icon-reply-all: '\eb1f';
$icon-reply: '\eb20';
$icon-resistance: '\eb21';
$icon-retweet: '\eb22';
$icon-rmb: '\eb23';
$icon-road: '\eb24';
$icon-rocket: '\eb25';
$icon-rotate-left: '\eb26';
$icon-rotate-right: '\eb27';
$icon-rouble: '\eb28';
$icon-rss-square: '\eb29';
$icon-rss: '\eb2a';
$icon-rub: '\eb2b';
$icon-ruble: '\eb2c';
$icon-rupee: '\eb2d';
$icon-s15: '\eb2e';
$icon-safari: '\eb2f';
$icon-save: '\eb30';
$icon-scissors: '\eb31';
$icon-scribd: '\eb32';
$icon-search-minus: '\eb33';
$icon-search-plus: '\eb34';
$icon-search: '\eb35';
$icon-sellsy: '\eb36';
$icon-send-o: '\eb37';
$icon-send: '\eb38';
$icon-server: '\eb39';
$icon-share-alt-square: '\eb3a';
$icon-share-alt: '\eb3b';
$icon-share-square-o: '\eb3c';
$icon-share-square: '\eb3d';
$icon-share: '\eb3e';
$icon-shekel: '\eb3f';
$icon-sheqel: '\eb40';
$icon-shield: '\eb41';
$icon-ship: '\eb42';
$icon-shirtsinbulk: '\eb43';
$icon-shopping-bag: '\eb44';
$icon-shopping-basket: '\eb45';
$icon-shopping-cart: '\eb46';
$icon-shower: '\eb47';
$icon-sign-in: '\eb48';
$icon-sign-language: '\eb49';
$icon-sign-out: '\eb4a';
$icon-signal: '\eb4b';
$icon-signing: '\eb4c';
$icon-simplybuilt: '\eb4d';
$icon-sitemap: '\eb4e';
$icon-skyatlas: '\eb4f';
$icon-skype: '\eb50';
$icon-slack: '\eb51';
$icon-sliders: '\eb52';
$icon-slideshare: '\eb53';
$icon-smile-o: '\eb54';
$icon-snapchat-ghost: '\eb55';
$icon-snapchat-square: '\eb56';
$icon-snapchat: '\eb57';
$icon-snowflake-o: '\eb58';
$icon-soccer-ball-o: '\eb59';
$icon-sort-alpha-asc: '\eb5a';
$icon-sort-alpha-desc: '\eb5b';
$icon-sort-amount-asc: '\eb5c';
$icon-sort-amount-desc: '\eb5d';
$icon-sort-asc: '\eb5e';
$icon-sort-desc: '\eb5f';
$icon-sort-down: '\eb60';
$icon-sort-numeric-asc: '\eb61';
$icon-sort-numeric-desc: '\eb62';
$icon-sort-up: '\eb63';
$icon-sort: '\eb64';
$icon-soundcloud: '\eb65';
$icon-space-shuttle: '\eb66';
$icon-spinner: '\eb67';
$icon-spoon: '\eb68';
$icon-spotify: '\eb69';
$icon-square-o: '\eb6a';
$icon-square: '\eb6b';
$icon-stack-exchange: '\eb6c';
$icon-stack-overflow: '\eb6d';
$icon-star-half-empty: '\eb6e';
$icon-star-half-full: '\eb6f';
$icon-star-half-o: '\eb70';
$icon-star-half: '\eb71';
$icon-star-o: '\eb72';
$icon-star: '\eb73';
$icon-steam-square: '\eb74';
$icon-steam: '\eb75';
$icon-step-backward: '\eb76';
$icon-step-forward: '\eb77';
$icon-stethoscope: '\eb78';
$icon-sticky-note-o: '\eb79';
$icon-sticky-note: '\eb7a';
$icon-stop-circle-o: '\eb7b';
$icon-stop-circle: '\eb7c';
$icon-stop: '\eb7d';
$icon-street-view: '\eb7e';
$icon-strikethrough: '\eb7f';
$icon-stumbleupon-circle: '\eb80';
$icon-stumbleupon: '\eb81';
$icon-subscript: '\eb82';
$icon-subway: '\eb83';
$icon-suitcase: '\eb84';
$icon-sun-o: '\eb85';
$icon-superpowers: '\eb86';
$icon-superscript: '\eb87';
$icon-support: '\eb88';
$icon-table: '\eb89';
$icon-tablet: '\eb8a';
$icon-tachometer: '\eb8b';
$icon-tag: '\eb8c';
$icon-tags: '\eb8d';
$icon-tasks: '\eb8e';
$icon-taxi: '\eb8f';
$icon-telegram: '\eb90';
$icon-television: '\eb91';
$icon-tencent-weibo: '\eb92';
$icon-terminal: '\eb93';
$icon-text-height: '\eb94';
$icon-text-width: '\eb95';
$icon-th-large: '\eb96';
$icon-th-list: '\eb97';
$icon-th: '\eb98';
$icon-themeisle: '\eb99';
$icon-thermometer-0: '\eb9a';
$icon-thermometer-1: '\eb9b';
$icon-thermometer-2: '\eb9c';
$icon-thermometer-3: '\eb9d';
$icon-thermometer-4: '\eb9e';
$icon-thermometer-empty: '\eb9f';
$icon-thermometer-full: '\eba0';
$icon-thermometer-half: '\eba1';
$icon-thermometer-quarter: '\eba2';
$icon-thermometer-three-quarters: '\eba3';
$icon-thermometer: '\eba4';
$icon-thumb-tack: '\eba5';
$icon-thumbs-down: '\eba6';
$icon-thumbs-o-down: '\eba7';
$icon-thumbs-o-up: '\eba8';
$icon-thumbs-up: '\eba9';
$icon-ticket: '\ebaa';
$icon-times-circle-o: '\ebab';
$icon-times-circle: '\ebac';
$icon-times-rectangle-o: '\ebad';
$icon-times-rectangle: '\ebae';
$icon-times: '\ebaf';
$icon-tint: '\ebb0';
$icon-toggle-down: '\ebb1';
$icon-toggle-left: '\ebb2';
$icon-toggle-off: '\ebb3';
$icon-toggle-on: '\ebb4';
$icon-toggle-right: '\ebb5';
$icon-toggle-up: '\ebb6';
$icon-trademark: '\ebb7';
$icon-train: '\ebb8';
$icon-transgender-alt: '\ebb9';
$icon-transgender: '\ebba';
$icon-trash-o: '\ebbb';
$icon-trash: '\ebbc';
$icon-tree: '\ebbd';
$icon-trello: '\ebbe';
$icon-tripadvisor: '\ebbf';
$icon-trophy: '\ebc0';
$icon-truck: '\ebc1';
$icon-try: '\ebc2';
$icon-tty: '\ebc3';
$icon-tumblr-square: '\ebc4';
$icon-tumblr: '\ebc5';
$icon-turkish-lira: '\ebc6';
$icon-tv: '\ebc7';
$icon-twitch: '\ebc8';
$icon-twitter-square: '\ebc9';
$icon-twitter: '\ebca';
$icon-umbrella: '\ebcb';
$icon-underline: '\ebcc';
$icon-undo: '\ebcd';
$icon-universal-access: '\ebce';
$icon-university: '\ebcf';
$icon-unlink: '\ebd0';
$icon-unlock-alt: '\ebd1';
$icon-unlock: '\ebd2';
$icon-unsorted: '\ebd3';
$icon-upload: '\ebd4';
$icon-usb: '\ebd5';
$icon-usd: '\ebd6';
$icon-user-circle-o: '\ebd7';
$icon-user-circle: '\ebd8';
$icon-user-md: '\ebd9';
$icon-user-o: '\ebda';
$icon-user-plus: '\ebdb';
$icon-user-secret: '\ebdc';
$icon-user-times: '\ebdd';
$icon-user: '\ebde';
$icon-users: '\ebdf';
$icon-vcard-o: '\ebe0';
$icon-vcard: '\ebe1';
$icon-venus-double: '\ebe2';
$icon-venus-mars: '\ebe3';
$icon-venus: '\ebe4';
$icon-viacoin: '\ebe5';
$icon-viadeo-square: '\ebe6';
$icon-viadeo: '\ebe7';
$icon-video-camera: '\ebe8';
$icon-vimeo-square: '\ebe9';
$icon-vimeo: '\ebea';
$icon-vine: '\ebeb';
$icon-vk: '\ebec';
$icon-volume-control-phone: '\ebed';
$icon-volume-down: '\ebee';
$icon-volume-off: '\ebef';
$icon-volume-up: '\ebf0';
$icon-warning: '\ebf1';
$icon-wechat: '\ebf2';
$icon-weibo: '\ebf3';
$icon-weixin: '\ebf4';
$icon-whatsapp: '\ebf5';
$icon-wheelchair-alt: '\ebf6';
$icon-wheelchair: '\ebf7';
$icon-wifi: '\ebf8';
$icon-wikipedia-w: '\ebf9';
$icon-window-close-o: '\ebfa';
$icon-window-close: '\ebfb';
$icon-window-maximize: '\ebfc';
$icon-window-minimize: '\ebfd';
$icon-window-restore: '\ebfe';
$icon-windows: '\ebff';
$icon-won: '\ec00';
$icon-wordpress: '\ec01';
$icon-wpbeginner: '\ec02';
$icon-wpexplorer: '\ec03';
$icon-wpforms: '\ec04';
$icon-wrench: '\ec05';
$icon-xing-square: '\ec06';
$icon-xing: '\ec07';
$icon-y-combinator-square: '\ec08';
$icon-y-combinator: '\ec09';
$icon-yahoo: '\ec0a';
$icon-yc-square: '\ec0b';
$icon-yc: '\ec0c';
$icon-yelp: '\ec0d';
$icon-yen: '\ec0e';
$icon-yoast: '\ec0f';
$icon-youtube-play: '\ec10';
$icon-youtube-square: '\ec11';
$icon-youtube: '\ec12';
$icon-cool2: '\e900';
